{% extends "./plantilla.html" %}
{% load static %}
{% block body %}
<br>
<h2 class="text-center">LISTADO DE CINES</h2>
<div class="container">
    <table class="table table-bordered table-striped table-hover" id="tbl-generos">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DIRECCIÓN</th>
                <th>TÉLEFONO</th>
                
            </tr>
        </thead>
        <tbody>
           {% for cineTemporal in cines %}
                <tr>
                    <td>{{cineTemporal.id}}</td>
                    <td>{{cineTemporal.nombre}}</td>
                    <td>{{cineTemporal.direccion}}</td>
                    <td>{{cineTemporal.telefono}}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <a href="{% url 'exportCinesPDF' %}">
    <button class="btn btn-outline-success">Exportar a PDF</button>
{% endblock %}